.answer-text{
    color: white;
    background-color: transparent;
    border-top: solid var(--accent-jawn);
    border-left: solid var(--accent-jawn);
    padding: 20px;
    margin-bottom: 1%;
    font-size: 5vw;
    height: 20%;
}

.answer-jawn{
    padding-top: 9%;
    padding-bottom: 9%;
    height: 70%;
}

.answer-jawn-input{
    padding-top: 9%;
    padding-bottom: 9%;
    height: 15%;
}
.answer-input{
    width: 100%;
    font-size: 250%;
    background: transparent;
    border-left: none;
    border-right: none;
    border-top: none;
}
.answer-input:focus{
    border-left: none;
    border-right: none;
    border-top: none;
    outline: none;
    border-color: var(--header-jawn);
}

.input-btn {
    font-size: 8vw;
    color: var(--text-jawn);
    border-right: none;
    border-bottom: none;
    background-color: transparent;
    margin-top: 10%;
    float: right;
    border-top: solid var(--accent-jawn);
    border-left: solid var(--accent-jawn);

}