.answer-text,
.answer-text-template-literal,
.answer-text-boolean{
    background-color: transparent;
    padding: 20px;
    /* margin-bottom: 5%; */
    font-size: var(--sub-text);
    height: 16%;
}

.answer-text-boolean{
    color:#F08C00;
}

.answer-text{
    color: white;
}

.answer-text-template-literal{
    color: #859900;
}

.answer-jawn{
    /* padding-top: 9%;
    padding-bottom: 9%; */
    padding-bottom: 3%;
    height: 70%;
}

.answer-jawn-input{
    padding-top: 9%;
    padding-bottom: 9%;
    height: 15%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.answer-input{
    width: 90%;
    font-size: var(--header-text);
    background: transparent;
    border-left: none;
    border-right: none;
    border-top: none;
    box-sizing: border-box;
}

.answer-input:focus{
    border-left: none;
    border-right: none;
    border-top: none;
    outline: none;
    border-color: var(--accent-jawn);
    box-sizing: border-box;
}

.input-btn {
    font-size: var(--text);
    border: none;
    color: black;
    border-radius: 20px;
    padding: 3%;
    width: 100%;
    background-color: var(--accent-jawn);
    font-weight: bold;
    box-shadow: 0 0 20px black; 
}