/* BUTTON STYLES */

.input-btn, .input-btn-warning {
    font-size: var(--text);
    border: none;
    color: black;
    border-radius: 10px;
    padding: 5px;
    width: 100%;
    box-shadow: 0 0 20px black; 
    margin-top: 10px;
}

.input-btn {
    background-color: var(--accent-jawn);
}

.input-btn-warning {
    background-color: red;
}

.back-btn-container{
    justify-content: center;
    align-items: center;
    background-color: transparent;
    z-index: 6;
}

.back-btn-jawn, .back-btn-jawn-profile{
    background-color: transparent;
    height: 11%;
    width: 16%;
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px;
}

.back-btn-jawn{
    margin-top: 60px;
    z-index: 6;
    text-align: left;
    padding-bottom: 15px;
    text-decoration: underline;
    color: var(--accent-jawn);
    font-size: var(--sub-text);
    width: 100%;
}