:root {
  --background-jawn: #2d2d2d; 
  --background-light-jawn: #595959;
  --sub-background-jawn: #e102ff;
  --header-jawn: #ae03ff;
  --text-jawn: #d9d9d9;
  --off-white-jawn: #d9d9d9;
  --primary-jawn: #2d2d2d;
  --secondary-jawn: #ff7100;
  --sub-secondary-jawn: #ff8c34;
  --accent-jawn: #12edd8;
}

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--background-jawn);
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
}

@font-face {
  font-family: 'FantaisieArtistique';
  src: local('FantaisieArtistique'), url(../assets/fonts/FantaisieArtistique.ttf) format('truetype');}

@font-face {
  font-family: 'Alice';
  src: local('Alice'), url(../assets/fonts/Alice\ in\ Wonderland.ttf) format('truetype');}

*, *::before, *::after {
  box-sizing: border-box;
  font-family: FantaisieArtistique;
  color: var(--text-jawn);
}

.container-jawn {
  position: absolute;
  height: 100%;
  max-height: 100%;
  width: 100%;
  max-width: 100%;
  justify-content: center;
  background-color: var(--background-jawn);
  opacity: 90%;
  box-sizing: border-box;
} 

.container-jawn2 {
  position: absolute;
  height: 100%;
  max-height: 100%;
  width: 100%;
  max-width: 100%;
  justify-content: center;
  background-color: var(--sub-secondary-jawn);
  box-sizing: border-box;
} 

input{
  text-align: right;
}
.progress-tracker{
  width: 100%;
  text-align: center;
  font-size: 7vw;
  color: var(--text-jawn);
  top: 0;
}

.text{
  font-size: 6vw;
  color: var(--sub-secondary-jawn);
  margin-top: 3%;
  /* margin-bottom: 3%; */
  font-weight: bold;
}
.sub-text{
  float: right;
  margin: 3%;
  font-size: 6vw;
}

.sub-text2{
  float: right;
  margin-bottom: 5%;
  font-size: 6vw;
}

.header{
  font-size: 10vw;
  color: black;
  font-weight: bold;
}