:root {
  --background-jawn: #2d2d2d; 
  --sub-background-jawn: #e102ff;
  --header-jawn: #ae03ff;
  --text-jawn: #ff7100;
  --accent-jawn: #fd9702;
}

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--background-jawn);
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
}

@font-face {
  font-family: 'FantaisieArtistique';
  src: local('FantaisieArtistique'), url(../assets/fonts/FantaisieArtistique.ttf) format('truetype');}

@font-face {
  font-family: 'Alice';
  src: local('Alice'), url(../assets/fonts/Alice\ in\ Wonderland.ttf) format('truetype');}

*, *::before, *::after {
  box-sizing: border-box;
  font-family: FantaisieArtistique;
  color: var(--text-jawn);
}

.container-jawn {
  position: absolute;
  height: 100%;
  max-height: 100%;
  width: 100%;
  max-width: 100%;
  justify-content: center;
  background-color: var(--background-jawn);
  opacity: 90%;
  box-sizing: border-box;
} 

input{
  text-align: right;
}