/* CONTAINER STYLES */

.app-bar{
    justify-content: center;
    height: 10%;
    background-color: var(--sub-secondary-jawn);
    display: flex;
    align-items: center;
    width: 100%;
    bottom: 0;
    box-shadow: 0 0 20px black; 
    border: none;
    z-index: 3;
    position: absolute;
  }

.learn-jawn, .profile-jawn{
    width: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    color: black;
}

.profile-icon{
    width: 25%;
}

.learn-icon{
    width: 25%;
}