/* CONTAINER STYLES */

.controls-jawn {
    justify-content: center;
    margin: 1%;
    height: 8%;
    background-color: transparent;
    display: flex;
    align-items: center;
}
.profile-jawn, .computer-jawn{
    width: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
}
.profile-icon{
    width: 35%;
}
.computer-icon{
    width: 33%;
}