/* CONTAINER */

.display-jawn {
    height: 95%;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: none;
    background-color: var(--background-jawn);
    border-color: var(--accent-jawn);
    overflow:hidden;
    overflow-y: scroll;
    position: relative;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.top-display{
    height: 25%;
    background: transparent;
    padding: 5%;
}

.display-jawn2 {
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    height: 75%;
    background-color: var(--background-jawn);
    width: 100%;
}

/* PARENT */

.parent-jawn{
    position: relative;
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    overflow: auto;
    display: flex;
    justify-content: center;
}

.parent-jawn2{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: auto;
    overflow-y: scroll;
    /* padding-bottom: 15%; */
}

/* CHILD */

.child-jawn{
    align-items: center;
    width: 90%;
    display: flex;
    flex-direction: column;
}

.child-jawn2{
    /* align-items: center; */
    width: 90%;
    margin-top: 15%;
    /* height: 50%; */
    /* display: flex; */
    /* flex-direction: column; */
    
}

/* TEXT */

.text-jawn{
    align-items: center;
    text-align: center;
    color: white;
    font-size: 5vw;
}

.text-jawn-secondary{
    align-items: center;
    text-align: center;
    color: var(--accent-jawn);
}

/* WARNING TEXT */

.warning-txt{
    margin-top: 10px;
    text-align: center;
    color: red;
    font-size: 7vw;
}

/* HEADER TEXT */

.header-jawn{
    align-items: center;
    text-align: center;
    color: var(--accent-jawn);
}

.back-btn-container{
    justify-content: center;
    align-items: center;
}

.back-btn-jawn{
    background-color: transparent;
    font-size: 250%;
    border: none;
    font-weight: bold;
    padding-left: 10%;
    height: 5%;
    color: var(--accent-jawn);
}

.form-jawn{
    /* margin-top: 150%; */
    /* margin-top: 50%; */
}

.tab-jawn{
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* height: 100%; */
    /* width: 100%; */
}

input.form-control{
    height: 60%;
    font-size: 7vw;
    
}

.username-jawn, .password-jawn{
    height: 60%;
}

.spacer{
    margin: 14%;
}