/* CONTAINER */

.display-jawn {
    /* margin: 1%; */
    height: 77.5%;
    border-left: none;
    border-right: none;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    background-color: var(--background-jawn);
    border-color: var(--accent-jawn);
    overflow:hidden;
    overflow-y: scroll;
    position: relative;
    width: 100%;
}

/* PARENT */

.parent-jawn-lessons{
    position: relative;
    width: 100%;
    overflow: auto;
    height: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}
.parent-jawn{
    position: relative;
    height: 100%;
    width: 100%;
    overflow-y: hidden;
}

/* CHILD */

.child-jawn{
    align-items: center;
    justify-content: center;
    /* text-align: center; Messing up answer button styling */ 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}

.child-jawn-lessons{
    text-align: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    box-sizing: border-box;
}

/* TEXT */

.text-jawn{
    align-items: center;
    text-align: center;
    color: white;
    font-size: 5vw;
}

.text-jawn-secondary{
    align-items: center;
    text-align: center;
    color: var(--accent-jawn);
}

/* WARNING TEXT */

.warning-txt{
    margin-top: 10px;
    text-align: center;
    color: red;
    font-size: 7vw;
}

/* HEADER TEXT */

.header-jawn{
align-items: center;
text-align: center;
color: var(--accent-jawn);
}