/* CONTAINER */

.login-display-jawn {
    background-color: var(--background-jawn);
    border-radius: 10px;
    box-shadow: 0 0 20px black;
  
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    width: auto;
    height: auto;
    
    max-width: 30%;
    min-width: 30%;
    max-height: 90%;
    
    padding: 20px;
    
    box-sizing: border-box;
}

@media (max-width: 600px) {
    .login-display-jawn {
        min-width: 80%;
    }
    
  }

/* PARENT */

.parent-jawn{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

/* CHILD */

.display-jawn{
    height: 100%;
}

.child-jawn{
    width: 90%;
    overflow-y: auto;
    max-height: 100vh;
}

.child-jawn::-webkit-scrollbar,
.child-jawn2::-webkit-scrollbar{
    display: none;
}


.child-jawn2{
    width: 100%;
    overflow: auto;
    overflow-y: scroll;
    background-color: transparent;
}

/* TEXT */

.text-jawn,
.text-jawn-secondary,
.header-jawn {
    align-items: center;
    text-align: center;
}

.text-jawn{
    color: white;
    font-size: var(--sub-text);
}

.text-jawn-secondary,
.header-jawn {
    color: var(--accent-jawn);
}

/* WARNING TEXT */

.warning-txt{
    margin-top: 10px;
    text-align: center;
    color: red;
    font-size: var(--text);
    text-shadow:
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}