.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--sub-secondary-jawn);
    padding: 10px 20px;
    z-index: 1000;
    border-bottom: 1px;
    box-shadow: 0 0 20px black;
  }
  
  .header-left {
    font-size: 20px;
  }
  
  .site-name {
    margin: 0;
    color: black;
    font-family: Menlo;
    font-size: 20px;
  }
  
  .header-right {
    position: relative;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-button {
    background-color: var(--sub-secondary-jawn);
    color: black;
    padding: 10px;
    font-size: 20px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown-button:hover {
  }
  
  .dropdown-content {
    display: block;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  