.language-btn-container,
.language-btn-container2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    width: 100%;
}

.language-btn-container-scroll{

}

.container-for-language-btn,
.container-for-language-btn2{
    width: 100%;
    margin-bottom: 5%;
    justify-content: space-between;
}

.description-container, .language-btn-link{
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 15px;
    padding-top: 15px;
}

.language-btn-link{
    text-align: right;
    text-decoration: underline;
    color: var(--accent-jawn);
    font-size: var(--sub-text);
}
.language-btn-link2{
    text-align: left;
    padding-bottom: 15px;
    text-decoration: underline;
    color: var(--accent-jawn);
    font-size: var(--sub-text);
}

.language-icon {
    /* margin-right: 1%; */
    width: 75px;
    height: 75px;
    object-fit: contain;
}

.center-language-btn{
    width: 90%;
    text-align: left;
}

.language-btn {
    flex-grow: 1;
    font-size: var(--text);
    color: var(--sub-secondary-jawn);
    text-align: left;
    width: 100%;
    max-height: 33%;
    height: 33%;
}

.progress-emoji{
    color: var(--off-white-jawn);
    font-size: var(--text);
    max-height: 33%;
    height: 33%;
}


.expand-icon{
    width: 20%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: var(--header-text);
    color: var(--accent-jawn);
}