.language-btn-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: rgb(109, 109, 109);
    border-radius: 25px;
    margin-top: 5%;
}

.code-jawn-icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    /* top: 0; */
    margin-bottom: 10px;
}

.select-language-sub-text{
    text-align: center;
    color: var(--header-jawn);
    padding-bottom: 10%;
    font-size: 5vw;
}


.language-btn-content {
    display: flex;
    align-items: center;
}

.language-icon {
    margin-right: 1%;
    width: 20%;
    height: 85px;
    max-width: 20%;
    max-height: 85px;
}

.code-jawn-icon {
    width: 250px;
    height: 250px;
    max-width: 250px;
    max-height: 250px;
}
.center-language-btn{
    width: 60%;
}

.language-btn {
    font-size: 8vw;
    color: var(--text-jawn);
    border: transparent;
    background-color: transparent;
    text-align: left;

}

.additional-text {
    flex-grow: 1;
    font-size: 5vw;
    color: var(--accent-jawn);
    text-align: left;
    padding-left: 3%;
}

.expand-icon{
    width: 20%;
    justify-content: center;
    align-items: center;
    text-align: center;
}