.lecture-title{
    margin-bottom: 9%;
    color: var(--secondary-jawn);
    font-size: var(--header-text);
    text-align: center;
}
.lecture-text{
    margin-bottom: 6%;
    color: var(--off-white-jawn);
    font-size: var(--sub-text);
    text-align: center;
    height: 30%;
}
.lecture-example{
    /* margin-bottom: 3%; */
    color: var(--off-white-jawn);
    font-size: var(--sub-text);
    /* height: 60%; */
}

.table-jawn{
    display: table;
    width: 100%;
    border-collapse: collapse;
}

.lecture-container2{
    /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px; */
}

.row-jawn{
    display: table-row;
}

.cell-jawn, .cell-jawn-string, .cell-jawn-int {
    display: table-cell;
    border: none;
    padding: 8px;
    text-align: center;
    width: 50%;
}

.cell-jawn-string {
    color: var(--string-jawn);
}
.cell-jawn-int {
    color: #58e6ff;
}

.cell-header-jawn{
    display: table-cell;
    border: none;
    padding: 8px;
    text-align: center;
    color: var(--secondary-jawn);
    width: 50%;
}

.lecture-jawn{
    height: 85%;
    /* flex: 0 0 100%; */
    width: 100%;
    box-sizing: border-box;
    flex: 0 0 calc(100%);
    width: calc(100% + 5%);
    padding: 3%;

}

.lecture-container{
    width: 100%;
    background-color: var(--primary-light-jawn);
    border-radius: 20px;
    height: 60%;
    justify-content: space-between;
    box-shadow: 0 0 20px black; 
    padding: 5%;

    overflow: hidden;
    width: 100%;
    position: relative;
}

.swipeable-pages {
    display: flex;
    transition: transform 0.3s ease;
    width: 100%;
  }

.indicator-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items:  center;
    height: 10%;
    background-color: transparent;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin-bottom: 3%;
}

.indicator {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: gray;
    transition: background-color 0.3s;
}

.indicator.active {
    background-color: var(--accent-jawn);
}

.profile-table-jawn{
    display: table;
    width: 100%;
    border-collapse: collapse;
}

.profile-row-jawn{
    display: table-row;
    font-size: var(--sub-text);
}

.profile-cell-jawn{
    display: table-cell;
    border: none;
    padding: 4px;
    text-align: right;
    width: 50%;
    padding-right: 3%;
    color: white;
}

.profile-cell-jawn-label{
    display: table-cell;
    border: none;
    padding: 4px;
    text-align: left;
    width: 50%;
    padding-left: 3%;
    color: white;
}