.lecture-title{
    margin-bottom: 9%;
    color: var(--secondary-jawn);
    font-size: var(--header-text);
    text-align: center;
}
.lecture-text{
    margin-bottom: 6%;
    color: var(--off-white-jawn);
    font-size: var(--sub-text);
    /* font-weight: bold; */
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}
.lecture-example{
    margin-bottom: 3%;
    color: var(--off-white-jawn);
    font-size: var(--sub-text);
    padding-bottom: 5%;
}

.table-jawn{
    display: table;
    width: 100%;
    border-collapse: collapse;
}

.row-jawn{
    display: table-row;
}

.cell-jawn{
    display: table-cell;
    border: none;
    padding: 8px;
    text-align: center;
    width: 50%;
}

.cell-header-jawn{
    display: table-cell;
    border: none;
    padding: 8px;
    text-align: center;
    color: var(--secondary-jawn);
    width: 50%;
}

.lecture-container{
    width: 100%;
    background-color: var(--primary-light-jawn);
    border-radius: 25px;
    margin-bottom: 5%;
    justify-content: space-between;
    /* height: 1%; */
    box-shadow: 0 0 20px black; 
}