.lesson-btn-complete{
    margin: 5px;
    font-size: 8vw;
    border-radius: 10px;
    color: black;
    padding: 10px;
    background: var(--sub-background-jawn);
}

.lesson-btn-container{
    margin: 5px;
    align-items: center;
    text-align: center;
}

.lesson-btn{
    margin: 5px;
    font-size: 8vw;
    color: var(--header-jawn);
    padding: 8px;
    background: transparent;
    width: 100%;
}
.lesson-section-jawn{
    color: black;
    height: 20%;
    background-color: var(--text-jawn);
    border-radius: 10px;
    border: solid var(--accent-jawn);
    padding: 20px;
    margin-bottom: 10px;
    font-size: 8vw;
    font-weight: bold;
    text-align: center;
}