.lesson-btn-complete{
    margin: 5px;
    font-size: var(--header-text);
    border-radius: 10px;
    color: black;
    padding: 10px;
    background: var(--sub-secondary-jawn);
}

.lesson-btn-container{
    margin: 5px;
    align-items: center;
    text-align: center;
    padding-right: 10px;
}

.lesson-btn{
    margin: 5px;
    font-size: var(--text);
    color: var(--accent-jawn);
    padding: 5px;
    background: transparent;
    width: 100%;
    border: transparent;
    text-align: right;
    font-weight: bold;
}
.lesson-section-jawn{
    color: var(--off-white-jawn);
    height: 20%;
    background-color: transparent;
    border-top: solid var(--accent-jawn);
    border-left: solid var(--accent-jawn);
    padding: 20px;
    margin-bottom: 10px;
    font-size: var(--header-text);
    text-align: left;
}

.chevron-right {
    padding-right: 5%;
    padding-left: 5%;
    position:relative;
    height:25px; /*Height should be double border thickness*/
}
.chevron-right::before,
.chevron-right::after {
    position:absolute;
    content:"";
    border:15px solid transparent;
}
.chevron-right::before {
    left:0;
    border-left-color:var(--accent-jawn)
}
.chevron-right::after {
    left:-5px;
    border-left-color:var(--primary-light-jawn);
}

.chevron-up {
    padding-right: 10%;
    padding-left: 5%;
    position:relative;
    height:25px; /*Height should be double border thickness*/
}
.chevron-up::before,
.chevron-up::after {
    position:absolute;
    content:"";
    border:15px solid transparent;
}
.chevron-up::before {
    bottom:0;
    border-bottom-color:var(--accent-jawn)
}
.chevron-up::after {
    bottom:-5px;
    border-bottom-color:var(--primary-light-jawn);
}

.chevron-down {
    padding-right: 10%;
    padding-left: 5%;
    position:relative;
    height:25px; /*Height should be double border thickness*/
}
.chevron-down::before,
.chevron-down::after {
    position:absolute;
    content:"";
    border:15px solid transparent;
}
.chevron-down::before {
    top:0;
    border-top-color:var(--accent-jawn)
}
.chevron-down::after {
    top:-5px;
    border-top-color:var(--primary-light-jawn);
}

.chevron-left {
    padding-right: 5%;
    padding-left: 5%;
    position:relative;
    height:50px; /*Height should be double border thickness*/
}
.chevron-left::before,
.chevron-left::after {
    position:absolute;
    content:"";
    border:25px solid transparent;
}
.chevron-left::before {
    right:0;
    border-right-color:var(--accent-jawn)
}
.chevron-left::after {
    right:-5px;
    border-right-color:var(--primary-light-jawn);
}