.form-control{
    display: block;
    width: 100%; 
    margin-top: 25px;
    background: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    height: 60%;
    font-size: 20px;
    color: var(--sub-secondary-jawn);
}
.form-jawn{

}

.link{
    text-decoration: underline;
}

.profile-back{
    text-decoration: underline;
    color: var(--accent-jawn);
    font-size: var(--sub-text);
}

.profile-link{
    text-decoration: underline;
    color: white;
    font-size: var(--sub-text);
    margin-left: 40px;
}

.update-jawn{
    padding-left: 5%;
    padding-right: 5%;
}

.just-text-jawn{
    padding-left: 3%;
}

.login-background {
    background-image: url('../assets/LoginScreen.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forgot-password{
    text-align: right;
    margin-top: 10px;
}