.form-control{
    display: block;
    width: 100%; 
    padding: 2.5%;
    margin-bottom: 1%;
    border-radius: 20px;
    height: 60%;
    font-size: var(--text);
    color: black;
}

.link{
    text-decoration: underline;
}

.profile-back{
    text-decoration: underline;
    color: var(--accent-jawn);
    font-size: var(--sub-text);
}

.profile-link{
    text-decoration: underline;
    color: white;
    font-size: var(--sub-text);
    padding-left: 3%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
}

.update-jawn{
    padding-left: 5%;
    padding-right: 5%;
}

.just-text-jawn{
    padding-left: 3%;
}