.profile-jawn2{
    border-top-left-radius: 70px;
    height: 100%;
    background-color: var(--background-jawn);
    width: 100%;
    overflow: hidden;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
}

.terms-title{
    margin-top: 50px;
    font-size: var(--header-text);
    padding-bottom: 2%;
    color: var(--sub-secondary-jawn)
}

.terms-sub-title{
    font-size: var(--text);
    padding-bottom: 2%;
    color: var(--sub-secondary-jawn)
}

.terms-text{
    font-size: var(--sub-text);
    padding-bottom: 1%;
}

.terms-section{
    padding: 1%;
}