.question-text{
    color: gold;
    font-size: 5vw;
    height: 15%;
    padding-bottom: 15px;

}

.question-jawn{
    display: block;
    height: 25%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.question-container{
    height: 100%;
}